body {
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

div#wrapper {
    width: 100%;
}

header {
    text-align: center;
    font-size: 1.25em;
    background-color: crimson;
    padding: 10px;
    border: 1px solid rgb(71, 0, 0);
}

#detective_pikachu {
    width: 25%;
}

.msg_error{
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 5px, rgb(243, 132, 132) 5px,rgb(243, 132, 132) 10px),
         repeating-linear-gradient(to right, #800e0e, #800e0e 5px,rgb(243, 132, 132) 5px,rgb(243, 132, 132) 10px);
  border: 1px solid rgb(71,0,0);
  margin: auto;
}

.msg_error p{
  text-align: left;
  width: 35%;
  background-color: rgb(255, 215, 130);
  border-radius: 10px;
  padding: .5em 1em;
  margin: 1.5em auto;
  border: 1px solid rgb(71,0,0);
}

.resultados_busqueda{
  border: 1px solid rgb(71,0,0);
  display: flex;
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 5px, rgb(136, 243, 132) 5px,rgb(136, 243, 132) 10px),
         repeating-linear-gradient(to right, #33c249, #33c249 5px,rgb(136, 243, 132) 5px,rgb(136, 243, 132) 10px);
  background-size: 40.00px 40.00px;
}

.resultados_busqueda img{
  border: 3px solid rgb(172, 128, 48);
  border-radius: 10px;
  background-color: rgb(220, 236, 205);
  width: 25%;
  height: 25%;
  padding: 0.25em;
  margin: auto 1em;
}

.pokemon_info{
  width: 70%;
  padding: 1em;
}

#pokemon_id_name, #pokemon_fisico{
  background-color: rgb(255, 215, 130);
  border-radius: 10px;
  padding: 0.2em 1em;
  margin: 1em auto;
}

#pokemon_types{
  display: flex;
}

#tipo1, #tipo2{
  border-radius: 2px;
  border: 2px solid rgb(0, 0, 0);
  height: 100%;
  margin: 0.5em;
  text-align: center;
  padding: 0.5em 1em;
}

#resultados_avanzados{
  border: 1px solid rgb(71,0,0);
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 5px, rgb(132, 134, 243) 5px,rgb(132, 134, 243) 10px),
         repeating-linear-gradient(to right, #4133c2, #4133c2 5px,rgb(132, 134, 243) 5px,rgb(132, 134, 243) 10px);
  background-size: 40.00px 40.00px;
}

#resultados_avanzados .pokemon_sprite_avanzado{
  border: 3px solid rgb(172, 128, 48);
  border-radius: 10px;
  background-color: rgb(220, 236, 205);
  width: 15%;
  padding: 0.15em;
  margin: auto 1em auto 22%;
}

.pokemon_id_name_avanzado{
  background-color: rgb(255, 215, 130);
  border-radius: 10px;
  padding: 0.2em 1em;
  margin: 1em;
  height: 40%;
}

.a_lupita{
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  padding: 0.15em;
  margin: 1em;
  width: 6%;
}

.lupita{
  width: 100%;
}

.pokemon_matched{
  display: flex;
  align-items: center;
  margin: 1em;
}

.campos_busqueda {
  text-align: center;
  background-image: linear-gradient(
    180deg,
  #ed93a3 25%,
  #e6caca 25%,
  #e6caca 50%, 
  #ed93a3 50%, 
  #ed93a3 75%, 
  #e6caca 75%, 
  #e6caca 100%);
  background-size: 40.00px 40.00px;
  padding: 10px;
  border: 1px solid rgb(71, 0, 0);
}
        
footer.creditos div {
  background-color: crimson;
  border: 1px solid rgb(71, 0, 0);
  padding: 10px;
  text-align: center;
}
        
footer.creditos div p{
  font-size: small;
  font-style: italic;
}
        
.button_pokedex {
  margin: 1em auto;
  width: 50%;
  background-color: #40bf40;
  color: white;
  font-size: large;
  border-radius: 10px;
  padding: 1em 0.5em;
}

#busqueda_simple{
  padding: 0.5em 0.25em;
}

.form_pokedex{
  margin-top: 3%;
}

.form_pokedex input{
  padding: 0.7em 1em;
  border-radius: 10px;
  width: 40%;
  background-color: #ffe8e8;
}
